---
import PostPreview from "@components/PostPreview.astro";
import Layout from "@layouts/Page.astro";
import { siteConfig } from "src/data/settings";
import { Posts } from "src/lib/api";

const pageConfig = {
  title: siteConfig.title,
  description: siteConfig.description,
};
---

<Layout pageConfig={pageConfig}>
  <div class="max-w-6xl mx-auto">
    <h1 class="text-2xl font-semibold mb-4 tracking-wide">
      <span class="font-mono">404</span> Nothing here
    </h1>
    <p class="text-xl tracking-wide">
      Try going back in the browser or <a href="/" class="underline"
        >back to the homepage</a>
    </p>
  </div>
</Layout>
