---
import type { Props as BaseHeadProps } from "@components/BaseHead.astro";
import BaseHead from "@components/BaseHead.astro";

export interface Props {
  pageConfig: BaseHeadProps;
}

const { pageConfig } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <BaseHead {...pageConfig} />
  </head>
  <body class="bg-zinc-900 text-white">
    <slot />
  </body>
</html>
